body {
    background-color: lightgoldenrodyellow;
}

h1 {
    color: lightsalmon;
    text-align: center;
}

.items {
    color: lightsalmon;
    text-align: center;
}

.ed {
    align-self: center;
}

.de {
    align-self: center;
}

.containers {
    outline: 2px solid lightblue;
}

#new {
    margin-left: 50%;
    display: flexbox;
}