body {
    background-color: lightgoldenrodyellow;
}

h1 {
    color: lightsalmon;
    text-align: center;
}

.items {
    color: lightsalmon;
}

.containers {
    margin-left: 48%;
}

#new {
    margin-left: 50%;
    display: flexbox;
}